# Requirements for python-migration-helper
# No external dependencies required for initial version
# Add more as needed
openai
requests
networkx
matplotlib
pyyaml==6.0.3

# Microsoft Agent Framework dependencies
agent-framework-devui==1.0.0b251016
agent-framework==1.0.0b251016
azure-identity==1.25.1

# Metrics
bert-score==0.3.13
torch==2.6.0

# Tests
pytest
pytest-asyncio